/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.titulo{
    text-decoration-style: solid;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    color: #355E3B;
    
}
header {
   background-image: url("images/banner.png");
   background-size: cover;
   opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: auto; 
}

.menu{
    position: unset;
    
}
.menu h1 a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-size: 110%;
    opacity: 1;
    text-decoration-style: solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    
}
.menu h1 a:hover{
    font-size: 120%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
    color: #fff;
}

.menu .hist-topic-menu{
    padding: 11px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(245, 250, 227);
    font-weight: bold;
    font-size: x-large;
    opacity: 1;
    text-decoration-style: solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.menu ul li a:hover{
    font-size: 210%;
}

.title-link {
    margin-top: 0px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #43a047, #f9a825), 	#8B4513;
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.backindex{
    position: absolute;
    opacity: 0.4;
    max-width: 100%; 
}
.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
}

.pagina-inicial1{
    margin: auto;
    margin-bottom: auto;
    width: fit-content;
    height: fit-content;
    clear: both;
    position: relative;
    padding-top: 50px;
}

.texto-conheca-negocio{
    text-decoration-style: solid;
    margin-top: 30px;
    margin-left: 10px;
    padding: 12px;
    max-width: 1010px;
    border: solid 2px black;
    border-radius:20px ;
    font: 1.4em "Fira-Sans", sans-serif;
    clear: both;
}

.pagina-inicial2{
    margin: auto;
    width: fit-content;
    height: fit-content;
    clear: both;
    position: relative;
    padding-bottom: 1.5vw;
}


.texto-regiao-norte{
    margin: 0 auto;
    margin-top: 37px;
    margin-left: 10px;
    padding: 12px;
    max-width: 1010px;
    border: solid 2px black;
    border-radius:20px ;
    font: 1.4em "Fira-Sans", sans-serif;
}

footer {
    background-color: #355E3B;
    color: #fff;
    text-align: center;
    padding: 10px ;
    width: auto;
}

.history{
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;


}

.history-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    
.history-card img {
    display: grid;
    margin: auto;
    width: 100%;
    max-height: 95%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 95%;
}

.history-card-text h1 {
    margin-top: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}

.history-card-text p {
    margin-top: 0;
    font-size: 1.75vw;

    text-align: center;
}
.ingredientes-card{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto auto;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    
}
.ingredientes-card img{
    max-width: 95%;
}
.ingredientes-card a{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}